@use "variables" as *;

// Tablet 
@media screen and (max-width: 1024px){
    //section banners
     .banner-images {
        max-width: 15rem;
      }
      .banners h3{
        top: 40%;
      }
      //featured sale section
      .featured .container ul li img {
        max-width: 15rem;
      }
      // Sale CTA 
      .sale-CTA{
        & .sale-container{
            gap:1rem;
            & div{
                &  img{
                    max-height: 25rem;
                }
                .sale-50{
                    top: 10%;
                    left: 5%;
                }
                .sale-30{
                    padding:.5rem;
                    top: -5%;
                    left: 4%;
                    & span{
                        font-weight: 600;
                        font-size: 4rem;
                    }
                }
            } 
        }
    }
    .Instagram{
      & ul{
          justify-content: center;
          flex-wrap: wrap;
          & li img{
              max-width: 15rem;
              height: auto;
          }
      }
}
}

                                                                                     