@use "variables" as *;

.cartContainer{
    width: 100%;
    height: 100vh;
    padding: 1rem;
    position: fixed;
    display: flex;
    justify-content:start;
}
.cartMenu{
    // transform: translateY(-100%);
    transition: transform .5s ease-in-out;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.active{
    transform: translateY(-100%);
}

.cartItem{
    color: $gray;
}