@use "variables" as *;
//Contact us page forms 
form{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 45%;
    &   .form-item{
            border: none;
            border-bottom: $l-gray 1px solid;
            font-family: 'Poppins', sans-serif;
        }
}