@use "variables" as *;
//Header & Topbar
.index-header{
    display: flex;
    align-items: center;
    height: 85vh;
    background-image: url(../assets/home.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size:cover;
    & .textbox{
        width: 15%;
        margin-left: 20%;
    }    
}
.contact-header{
    display: flex;
    align-items: center;
    height: 26vh;
    background-image: url(../assets/contact-us.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size:cover;
    & h1{
        width: 15%;
        margin-left: 20%;
        font-size: 4rem;
    }  
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: 2rem 10rem;
    & nav ul{
        display: flex;
        list-style: none;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 2.5rem;
        & li a{
            color:$gray;
            text-transform: uppercase;
            text-decoration: none;
            font-weight:500;
        }
        li a:hover, li a:focus{
            text-decoration: underline 2px;
        }
    }
}