html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 125%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body main {
  flex-grow: 1;
}
body h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 5rem;
  margin-top: 0;
  color: #333;
}
body p {
  font-weight: 400;
  font-size: 1.25rem;
  color: #666;
}
body .page-btn {
  width: 10rem;
  height: 3rem;
  border-radius: 0;
  border: #333 1px solid;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  transition: 0.25s;
}
body .page-btn:hover, body .page-btn:focus {
  background-color: #666;
  color: #fff;
  border: none;
  transition: 0.25s;
}

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.desktop-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2rem 10rem;
}
.desktop-topbar i {
  display: none;
}
.desktop-topbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 2.5rem;
}
.desktop-topbar ul li a {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}
.desktop-topbar ul li a:hover, .desktop-topbar ul li a:focus {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.index-header {
  display: flex;
  align-items: center;
  height: 85vh;
  background-image: url(../assets/home.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.index-header .textbox {
  width: 15%;
  margin-left: 20%;
}

.contact-header {
  display: flex;
  align-items: center;
  height: 26vh;
  background-image: url(../assets/contact-us.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-header h1 {
  width: 15%;
  margin-left: 20%;
  font-size: 4rem;
}

.banners {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  gap: 2rem;
}
.banners .banner-images {
  width: 25rem;
}
.banners h3 {
  padding: 2% 10%;
  position: absolute;
  background-color: #fff;
  margin: 0;
  top: 90%;
}
.banners .furniture {
  position: relative;
  align-self: start;
}
.banners .decoration, .banners .plants {
  margin-top: 2rem;
  position: relative;
  align-self: end;
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.featured h2 {
  margin: 4rem 0;
}
.featured .container {
  text-align: center;
  margin: 3.5rem 0;
}
.featured .container ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
  margin: 0;
}
.featured .container ul li {
  position: relative;
  list-style: none;
  border: 1px solid rgba(102, 102, 102, 0.1176470588);
  padding: 1%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.276);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.276);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.276);
}
.featured .container ul li .special-item {
  position: absolute;
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: #eba6aa;
  color: #fff;
  top: 24px;
  left: -1px;
}
.featured .container ul li .blue {
  background-color: #88cce2;
}
.featured .container ul li .pink {
  background-color: #eba6aa;
}
.featured .container ul li .product-information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  padding-right: 4%;
}
.featured .container ul li .product-information img {
  border: rgba(102, 102, 102, 0.1176470588) 1px solid;
  padding: 0.5rem;
}
.featured .container ul li .product-information span {
  text-decoration: line-through;
  margin: 0 1rem 0 0;
}
.featured .container ul li h3 {
  margin: 0;
  text-align: left;
}
.featured .container ul li img {
  max-width: 12.5rem;
}

.sale-CTA {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
}
.sale-CTA .sale-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.sale-CTA .sale-container div {
  display: flex;
  position: relative;
}
.sale-CTA .sale-container div img {
  max-height: 50rem;
}
.sale-CTA .sale-container div .sale-50 {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 64%;
  left: 22%;
}
.sale-CTA .sale-container div .sale-50 p span {
  background-color: #fff;
  color: #eba6aa;
  padding: 0.25rem 1.25rem;
  margin: 0;
  font-weight: 600;
}
.sale-CTA .sale-container div .sale-50 h2, .sale-CTA .sale-container div .sale-50 p {
  color: #fff;
  margin: 1rem;
}
.sale-CTA .sale-container div .sale-50 h2 {
  font-size: 5.25rem;
  margin: 1rem 0;
}
.sale-CTA .sale-container div .sale-30 {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  display: block;
  line-height: 1.25;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  top: 9%;
  left: 26%;
}
.sale-CTA .sale-container div .sale-30 span {
  font-weight: 600;
  font-size: 4rem;
}

.Instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
  line-height: 1.25;
}
.Instagram p {
  margin: 1rem 0 4rem;
  font-size: 1rem;
  text-align: center;
}
.Instagram span {
  font-size: 3rem;
  color: #333;
}
.Instagram ul {
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}
.Instagram ul li {
  list-style: none;
}
.Instagram ul li img {
  width: 100%;
  height: auto;
}

form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 45%;
}
form .form-item {
  border: none;
  border-bottom: #666 1px solid;
  font-family: "Poppins", sans-serif;
}

footer {
  margin-top: 2rem;
  padding: 3rem;
  background-color: #333;
  display: flex;
}
footer h3, footer p, footer li {
  color: #fff;
  list-style: none;
}
footer h3 {
  margin: 0 0 2rem 0;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer .footer-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
footer .footer-container .socials {
  display: flex;
  flex-direction: column;
  max-width: 25%;
}
footer .footer-container .socials img {
  margin-bottom: 1rem;
  align-self: start;
  height: auto;
  width: 10rem;
}
footer .footer-container .socials p {
  margin-bottom: 2rem;
}
footer .footer-container .socials ul {
  display: flex;
  gap: 2rem;
  align-items: baseline;
}
footer .footer-container .socials ul li {
  list-style: none;
}
footer .footer-container .socials ul img {
  height: auto;
  width: 1.5rem;
}
footer .footer-container .socials ul li:nth-child(1) img {
  height: auto;
  width: 0.75rem;
}
footer .footer-container .contact {
  display: flex;
  flex-direction: column;
  max-width: 25%;
}
footer .footer-container .contact ul {
  margin: 0;
  padding: 0;
}
footer .footer-container .contact li {
  list-style: none;
  line-height: 2;
}
footer .footer-container .contact img {
  height: auto;
  width: 1.5rem;
  margin-right: 1rem;
}
footer .footer-container .profile {
  display: flex;
  flex-direction: column;
}
footer .footer-container .profile ul {
  margin: 0;
  padding: 0;
}
footer .footer-container .profile li {
  list-style: none;
  line-height: 2;
}
footer .footer-container .profile img {
  height: auto;
  width: 1.5rem;
  margin-right: 1rem;
}
footer .footer-container form {
  width: 100%;
  margin: 0;
}
footer .footer-container form p {
  margin: 0;
}
footer .footer-container form input {
  border: none;
  border-bottom: #666 1px solid;
  background-color: #333;
  color: #fff;
}

.hamburger {
  position: fixed;
  display: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
  width: 35px;
  height: 35px;
  top: 10px;
  right: 10px;
}

.hamburger .bars, .hamburger::after, .hamburger::before {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  margin: 6px 0px;
  transition: 0.4s;
  z-index: 100;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-10px, 15px);
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(0px, -6px);
}

.hamburger.hamburger.is-active .bars {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  height: 5vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 99;
}
.mobile-nav .inner-nav-menu {
  position: fixed;
  text-align: center;
  top: -20px;
  transform: translateY(-100%);
  transition: transform 0.5s;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
}
.mobile-nav li {
  list-style: none;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0;
}
.mobile-nav li a {
  margin: 1rem auto 1rem;
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 0.5rem 0.25rem 0.5rem;
  border-radius: 5%;
  text-decoration: none;
  color: black;
}

.mobile-nav .show-Menu {
  transform: translateY(0);
}

@media screen and (max-width: 1024px) {
  .index-header {
    position: relative;
  }
  .index-header .textbox {
    position: absolute;
    top: 15%;
    left: -18%;
  }
  .index-header p {
    display: none;
  }
  .contact-header {
    position: relative;
  }
  .contact-header h1 {
    position: absolute;
    top: 11%;
    left: 3%;
    margin: 0;
  }
  .banner-images {
    max-width: 15rem;
  }
  .banners h3 {
    top: 85%;
  }
  .featured .container ul li img {
    max-width: 15rem;
  }
  .sale-CTA .sale-container {
    gap: 1rem;
  }
  .sale-CTA .sale-container div img {
    max-height: 25rem;
  }
  .sale-CTA .sale-container div .sale-50 {
    top: 10%;
    left: 5%;
  }
  .sale-CTA .sale-container div .sale-30 {
    padding: 0.5rem;
    top: -5%;
    left: 4%;
  }
  .sale-CTA .sale-container div .sale-30 span {
    font-weight: 600;
    font-size: 4rem;
  }
  .Instagram ul {
    justify-content: center;
    flex-wrap: wrap;
  }
  .Instagram ul li img {
    max-width: 15rem;
    height: auto;
  }
  footer .footer-container {
    flex-wrap: wrap;
    gap: 2rem;
  }
  footer .footer-container .socials {
    max-width: 35%;
  }
  footer .footer-container .contact {
    max-width: 35%;
  }
}
@media screen and (max-width: 620px) {
  .desktop-topbar {
    display: none;
  }
  .desktop-topbar ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .cart-icon {
    display: none;
  }
  .index-header .textbox {
    width: 100%;
    top: 2%;
  }
  .index-header .textbox h1 {
    font-size: 2rem;
  }
  .contact-header {
    position: static;
    justify-content: center;
    margin: 0;
  }
  .contact-header h1 {
    position: static;
    margin: 0;
    width: 90%;
  }
  form {
    width: 90%;
  }
  .banners {
    flex-direction: column;
  }
  .banner-images {
    max-width: 15rem;
  }
  .banners h3 {
    top: 85%;
  }
  .featured .container ul li img {
    max-width: 15rem;
  }
  .sale-CTA .sale-container {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .sale-CTA .sale-container div img {
    max-height: 25rem;
  }
  .sale-CTA .sale-container .sale-30-container img {
    aspect-ratio: 0.67/1;
  }
  .sale-CTA .sale-container .sale-30-container .sale-30 {
    margin: 1rem;
    top: 0%;
  }
  .sale-CTA .sale-container .sale-30-container p {
    font-size: 2rem;
  }
  .sale-CTA .sale-container .sale-30-container p span {
    font-size: 2rem;
  }
  .sale-CTA .Instagram ul {
    justify-content: center;
    flex-wrap: wrap;
  }
  .sale-CTA .Instagram ul li img {
    max-width: 15rem;
    height: auto;
  }
  footer .footer-container {
    width: 100%;
    flex-direction: column;
  }
  footer .footer-container .socials {
    max-width: 100%;
  }
  footer .footer-container .contact {
    max-width: 100%;
  }
  footer .footer-container .profile {
    width: 100%;
  }
  footer .footer-container .newsletter {
    width: 100%;
  }
}